
cert/*
.idea/*
.idea/compiler.xml
.idea/copyright/
.idea/facebook-ad-handler.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
node_modules/
/.idea/
src/app/logfile.log
src.tar.gz
src/config/*
src/logfile.log
src/somefile.log
app/mail.html
